/* Estilo de la imagen */
img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20px 0;
}

body {
    background-color: #3d5e7c;
}

/* Estilo del botón enviar */
#enviar {
    width: 100%;
    height: 50px;
    background-color: #5a9;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#enviar:hover {
    background-color: #488;
}

/* Estilo del contenedor de la tarjeta */
#caratula,
.servicio,
#formulario-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9ab;
    text-align: center;
    font-family: Arial, sans-serif;
}

.servicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.servicio .descripcion {
    flex: 1;
    margin-right: 20px;
}

.servicio img {
    flex: 1;
    max-width: 300px;
}

#caratula {
    text-align: center;
}

#titulo {
    margin-bottom: 20px;
    font-size: 40px;
    color: #333;
}

#formulario-container h2 {
    text-align: center;
}

/* Estilo del formulario */
#formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Estilo de los labels */
#formulario label {
    width: 100%;
    text-align: left;
    margin: 10px 0 5px 0;
    color: #333;
}

/* Estilo de los inputs de texto */
#formulario input[type="text"],
#formulario textarea,
#formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Estilo del área de texto */
#formulario textarea {
    resize: vertical;
    height: 100px;
}

/* Estilo del select */
#formulario select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    cursor: pointer;
}

/* Estilo de las imágenes en general */
img {
    width: 30%;
    height: auto;
    border-radius: 45px;
    display: block;
    margin: 20px auto;
}

/* Mantener otras imágenes centradas */
#tarjeta img {
    margin: 20px auto;
}

/* Estilo específico para la imagen de presentación y su título */
.presentacion {
    display: flex;
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
    margin: 20px 0;
}

.presentacion img {
    width: 30%;
    margin: 0 20px 0 0 !important; /* Añade un margen derecho para separar la imagen del título */
    border-radius: 10px;
}

.presentacion h1 {
    margin: 0;
    font-size: 48px; /* Aumenta el tamaño del título */
}
